PROJECT_NAME=ny_taxi
POSTGRES_DB=ny_taxi_dw
POSTGRES_USER=ny_taxi
POSTGRES_PASSWORD=ny_taxi_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

TAXI_TYPE=green
START_YEAR=2024
END_YEAR=2025
